**/bin
**/obj

.gitmodules
.dockerignore
**/.env
**/.*.env
.git
.gitignore
.gitattributes
.vs
.vscode
**/.toolstarget
.idea
**/Samples
build
Docker
**/Dockerfile
**/docker-compose.*
*Test*

persisted
.gitlab-ci.yml